<!DOCTYPE html>
<html>  
    <head>    
       <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Homepage</title> 
    </head>  
<body>
    <div id="wrapper">
      
        <div id="header">
          <div id="logo">
            <p>Insert logo here</p>
          </div>
          <div id="nav">
              <button id="hiderBtn" type="button">≡</button>
                
            <ul id="smallNav">
                <li><a href="homepage">Homepage</a></li>  
                <li><a href="local_attractions">Local Attractions</a></li>  
                <li><a href="reviews">Reviews</a></li>  
                <li><a href="booking">Booking</a></li>    
            </ul>
                  
              <ul id="bigNav">
                <li><a href="homepage">Homepage</a></li>  
                <li><a href="local_attractions">Local Attractions</a></li>  
                <li><a href="reviews">Reviews</a></li>  
                <li><a href="booking">Booking</a></li>    
            </ul>
          </div> 
        </div>
    
        <div id="content-wrap">
            <div id="htlImgs">
                <h1> Gallery </h1>
                <div id="gallery">
                    
                    <hr>
                    <a href="../static/img/hotel_Images/img_12.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_12.jpeg" alt="Cushion at hotel"></a> <!--reference - https://www.pexels.com/photo/bed-bedroom-cushion-decorative-372225/-->
                   <a href="../static/img/hotel_Images/img_1.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_1.jpeg" alt="Open door into room"></a> <!--reference - https://www.pexels.com/photo/bedroom-door-entrance-guest-room-271639/-->
                   <a href="../static/img/hotel_Images/img_2.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_2.jpeg" alt="Hallway"></a> <!--reference - https://www.pexels.com/photo/architecture-carpet-chandeliers-design-573552/-->
                    <a href="../static/img/hotel_Images/img_3.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_3.jpeg" alt="Swimming Pool"></a> <!--reference - 
                https://www.pexels.com/photo/architecture-blue-water-buildings-business-261102/-->
                    <a href="../static/img/hotel_Images/img_4.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_4.jpeg" alt="Room"></a> <!--reference - https://www.pexels.com/photo/apartment-bed-bedroom-chair-271624/-->
                    <a href="../static/img/hotel_Images/img_5.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_5.jpeg" alt="Indoor Pool"></a> <!--reference - https://www.pexels.com/photo/architecture-chair-glass-hotel-261041/-->
                    <a href="../static/img/hotel_Images/img_6.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_6.jpeg" alt="Hotel Bed"></a> <!--reference - https://www.pexels.com/photo/grey-and-white-floral-bed-comforter-129062/-->
                    <a href="../static/img/hotel_Images/img_7.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_7.jpeg" alt="Breakfast at Hotel"></a> <!--reference - https://www.pexels.com/photo/adult-bread-breakfast-chef-280121/-->
                    <a href="../static/img/hotel_Images/img_8.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_8.jpeg" alt="Hotel Complimentary"></a> <!--reference - https://www.pexels.com/photo/breakfast-champagne-hotel-6685/-->
                    <a href="../static/img/hotel_Images/img_9.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_9.jpeg" alt="Hotel Sign"></a> <!--reference - https://www.pexels.com/photo/hotel-sign-neon-letters-308/-->
                    <a href="../static/img/hotel_Images/img_10.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_10.jpeg" alt="Laptop on bed"></a> <!--reference - https://www.pexels.com/photo/person-woman-apple-hotel-5329/-->
                    <a href="../static/img/hotel_Images/img_11.jpeg"> <img class="gal" src="../static/img/hotel_Images/img_11.jpeg" alt="Hotel Pentsuite"></a> <!--reference - https://www.pexels.com/photo/hotel-bed-bedroom-room-4217/-->
                    <hr>



                    
                    
                </div> <!--Close gallery-->
            </div>
            <div id="container">
            <div class="content">
                <h2>Welcome</h2>
            <p>Welcome to the Bilton Hotel. We are a family run hotel that prides ourselves on years of top quality customer experiences. On our website you can find; a gallery to see what our hotel looks like, a request a booking page so that you are able to make a booking at our hotel, a local attractions page where you will find a list of interesting local attractions and a reviews page where you are able to leave and read reviews off our wonderful hotel. Please refer to the top of the page for the navgiation bar, where you will find links to all of these pages, where you will find a lot more information about the hotel.
            </p></div>
            <div class="content">
                <h2>About Us</h2>
            <p>Here at the Bilton hotel, we always put the customer first. These means you can be guaranteed to have the premium experience with us that will leave you always wanting more. In the 15 years since we were founded, we at Bilton have redefined the hospitality industry and established a portfolio of high profile customers who enjoy visiting us for a relaxing stay. These include names such as Leonardo Di Caprio and Kendall Jenner. We are a family run hotel and so you know that there will be no annoying corporate middle man standing between any of your worries.</p>
            </div>
            </div> <!-- close container -->
        </div> <!--Close content wrap-->
        
    </div> <!-- Close wrapper -->
    <footer>
    <p> &copy;Footer </p>
    
    </footer>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/main.js"></script>
</body>
    
</html>
