<!DOCTYPE html>
<html>  
    <head>    
       <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Sign Up</title> 
    </head>  
<body>
    <div id="wrapper">
      
        <div id="header">
          <div id="logo">
            <p>Insert logo here</p>
          </div>
          <div id="nav">
              <button id="hiderBtn" type="button">≡</button>
                
            <ul id="smallNav">
                <li><a href="Homepage.html">Homepage</a></li>  
                <li><a href="Local_Attractions.html">Local Attractions</a></li>  
                <li><a href="Reviews.html">Reviews</a></li>  
                <li><a href="Request_Booking.html">Booking</a></li>    
            </ul>
                  
              <ul id="bigNav">
                <li><a href="Homepage.html">Homepage</a></li>  
                <li><a href="Local_Attractions.html">Local Attractions</a></li>  
                <li><a href="Reviews.html">Reviews</a></li>  
                <li><a href="Request_Booking.html">Booking</a></li>    
            </ul>
          </div> 
        </div>
    
        <div id="container">
        <h2>Welcome</h2>
            <div class="content">
                
            <p>“Norfolk’s favourite building”Founded in 1096 and built using Normandy stone shipped from Caen, Norwich Cathedral is set in the 44 acre Cathedral Close, a peaceful city centre sanctuary.The Cathedral itself is one of the finest complete Romanesque buildings in Europe, with the highest Norman tower and largest monastic cloisters in England. 
            Inside, the Cathedral tells almost 1000 years of history, with our enthusiastic volunteers on hand to talk you through the incredible stories of its past.There is more to see at Norwich Cathedral than you think. </p></div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            </div> <!-- close container -->
            
        </div> <!--Close content wrap-->
        <footer>
    <p> Footer </p>
    
    </footer>
    </div> <!-- Close wrapper -->
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/main.js"></script>
</body>
    
</html>
